<a href="/" %><< Home page</a>
<br/><br/>

<h1>Sgt. Pepper's Lonely Hearts Club</h1>

<reference>Brought to you by:</reference>

<ul>
  <% @artists.each do |artist| %>
    <li><%= artist %></li>
  <% end %>

</ul>