<h1> Home Page for this Dish</h1>
<nav>Navigation</nav>
<ul>
  <li><h3><a href="/student_list" %>List of Student Hustlers ></a></h3></li>
  <!-- <li><h3><a href="/student_page" %>Hustlers page ></a></h3></li> -->
  <li><h3><a href="/artists" %>Artists page ></a></h3></li>
  <li><h3><a href="/hello-world" %>Hello World page <i>(whatever that is)</i> ></a></h3></li>
</ul>